*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.navbar__desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.navbar__desktop--left-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
}

.navbar__desktop--left-section #icon__hamburger{
    display: none;
    margin-right: 15px;
}

.navbar__desktop--menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 15%;
    font-family: Arial, sans-serif;
}

.navbar__desktop--menu a{
    text-decoration: none;
    color: grey;
    font-size: 17px;
    margin-left: 30px;
}

.navbar__desktop--menu a:hover{
    color: black;
}


.navbar__desktop--right--section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar__desktop--right--section #icon__cart{
    margin-right: 40px;
    cursor: pointer;
}

.navbar__desktop--right--section #image__avatar{
    width: 50px;
    margin-right: 20px;
}

.navbar__cart{
    display: none;
    position: absolute;
    top: 10%;
    right: 2%;
    width: 350px;
    height: fit-content;
    border: 1px solid black;
    background-color: white;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.navbar__cart--label{
    font-weight: 600;
    font-size: large;
    height: 30px;
    padding: 10px 0 10px 2px;
}

.navbar__cart > hr{
    margin: 1%;
}

.navbar__cart--empty{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.navbar__cart--filled{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
}

.navbar__cart--container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar__cart--container .navbar__cart--product--thumbnail{
    width: 15%;
    height: auto;
    margin-right: 10px;
}

.navbar__cart--content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
}

.navbar__cart--content--label{
    font-size: 15px;
}

.navbar__cart--content--total{
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}

.icon--delete{
    width: 15px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.button__checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF7D1C;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 5px 10px 5px;
}


/* Mobile Menu */
.navbar__mobile--menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 60%; 
    left: -60%;
    transition: 0.5s;
    height: 100vh;
    background-color: white;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.navbar__mobile--menu #icon__close--menu{
    margin: 30px 20px;
}

.navbar__mobile--menu div{
    padding: 10px;
    width: 100%;
    text-align: start;
    margin: 5px 0 0 15px;
}

.navbar__mobile--menu div:hover{
    background-color: #f1f1f1;
}

.navbar__mobile--menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.show-menu {
    left: 0;
}

/* Body Section */
.div__body{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
}

.div__desktop--image--section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    width: fit-content;
}

.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9);
}

#icon--close{
    display: none;
    width: 25px;
    margin: 20px 0 15px 67%;
    cursor: pointer;
}

#icon--previous{
    display: none;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    transform: translate(25px, 0);
    cursor: pointer;
}

#icon--next{
    display: none;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    transform: translate(-25px, 0);
    cursor: pointer;
}

.div__desktop--image--section .main--image{
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.div__main--image--container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
}

.div__desktop--thumbnail--images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
}

.div__thumbnail--item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.div__desktop--thumbnail--images img{
    width: 10vw;
    height: 10vw;
    border-radius: 15px;
    cursor: pointer;
}

.selected--image{
    border-radius: 18px;
    border: 3px solid #FF7D1C;
    opacity: 0.8;
    z-index: 1;
}

/* Mobile Section */
.div__mobile--image--section{
    display: none;
}


/* Information Section */
.div__information--section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    padding: 5vw 60px 0 0;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.div__image--section--under{
    display: none;
}

.span__company--label{
    font-size: 20px;
    color: #FF7D1C;
    font-weight: 600;
}

.h1__product--title{
    font-size: xxx-large;
}

.span__product--description{
    color: grey;
    font-size: 19px;
}

.div__price--section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.div__price--tag{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.span__sale--value{
    margin-left: 1rem;
    font-weight: bold;
    color: #FF7D1C;
    background-color: #FEE5D1;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

.span__original--price{
    color: grey;
    font-size: 20px;
    margin-bottom: 30px;
}

.div__add--cart--section{
    display: flex;
    flex-direction: row;

}

.div__quantity--selection{
    display: flex;
    flex-direction: row;
    background-color: #F7F9FD;
    border-radius: 10px;
    overflow: hidden;
}

.div__quantity--selection button{
    border: none;
    background-color: #F7F9FD;
    padding: 0 2rem;
    cursor: pointer;
}

#button__add--cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 20px;
    padding: 0 6vw;
    text-wrap: nowrap;
    border-radius: 10px;
    background-color: #FF7D1C;
    font-weight: bold;
    color: white;
}

#button__add--cart > img{
    filter: brightness(0) invert(1);
    margin-right: 10px;
}



/* Mobile Device */
@media only screen and (max-width: 950px){
    .navbar__desktop--left-section #icon__hamburger{
        display: block;
    }

    .navbar__desktop--menu{
        display: none;
    }

    .div__add--cart--section{
        flex-direction: column;
        align-items: flex-start;
    }

    #button__add--cart{
        height: 50px;
        margin: 0;
    }
}

@media only screen and (max-width: 425px){
    .div__body{
        margin: 0;
        flex-direction: column;
    }
    .div__desktop--thumbnail--images{
        display: none;
    }
    .div__desktop--image--section{
        padding: 0;
        width: 100%;
    }
    #icon--previous{
        display: block;
        transform: translate(50px, 0);
    }
    #icon--next{
        display: block;
        transform: translate(-50px, 0);
    }
    .div__desktop--image--section .main--image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }
    .hr__nav--body{
        display: none;
    }

    .div__information--section{
        width: 100%;
        padding: 20px 30px;
        margin: 0;
    }

    .h1__product--title{
        margin-top: 10px;
        font-size: xx-large;
    }

    .div__price--section{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .span__original--price{
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .div__add--cart--section{
        width: 100%;
    }

    .div__quantity--selection{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #button__add--cart{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .navbar__cart{
        top: 13%;
    }
}