@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Calistoga&family=Lexend:wght@300&family=Open+Sans&family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Calistoga&family=Fraunces:opsz,wght@9..144,700&family=Lexend:wght@300&family=Open+Sans&family=Sacramento&display=swap');

body{
  margin: 0px;
  font-family: 'Barlow', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-header{
  grid-column-start: 1;
  grid-column-end: 3; 
  background-image: url('./images/desktop/image-header.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

/* Navbar */

.nav-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 5vh;
  height: 10vh;
}

.nav-bar-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}

.nav-bar-desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style-type: none;
}

.nav-bar-mobile{
  display: none;
}

#hamburger{
  display: none;
}

.nav-item{
  padding: 10px 20px;
  transition-property: border-bottom;
  transition-duration: 0.1s;
  margin-right: 10px;
}

.nav-item:hover{
  border-bottom: 3px solid white;
}

.nav-item a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.contact a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background-color:white;
  padding: 15px 20px;
  border-radius: 50px;
  color: black;
  transition-duration: 0.25s;
}

.contact a:hover{
  background-color:#FEA500;
  color: rgb(255, 255, 255);
}

/* Header in item1 */
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
  transform: translate(0, 40%);
  text-align: center;
}

header h1{
  font-family: 'Fraunces', serif;
}

/* Item that contain text */
.item-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.item-content div {
  font-size: 30px;
  width: 60%;
}

.item-content div h2{
  display: flex;
  justify-content: center;
  font-family: 'Fraunces', serif;
}

.item-content div p{
  font-size: 20px;
  font-weight: 400;
  color: grey;
}

.item2-link{
  color: black;
  text-decoration: solid underline #FBEECB 6px;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 0.7s;
}

.item2-link:hover{
  background-color: #FBEECB;
}

/* Item that contain only image */
.item-image{
  display: flex;
}

.item5-link{
  color: black;
  text-decoration: solid underline #FCDAD1 6px;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 0.7s;

}

.item5-link:hover{
  background-color: #FCDAD1;
}

/* Item 6 and 7 contain both text and background image */

.item6{
  color: #25544C;
  background-image: url('./images/desktop/image-graphic-design.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 56.25%; 
  position: relative;
}

.item6 div{
  width: 50%;
  transform: translate(0, -3vw);
}

.item6 div p{
  color: #25544C;
  font-size: 20px;
  font-weight: 400;
}

.item7{
  color: #1E4F60;
  background-image: url('./images/desktop/image-photography.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 56.25%; 
  position: relative;
}

.item7 div{
  width: 50%;
  transform: translate(0, -3vw);
}

.item7 div p{
  color: #1E4F60;
  font-size: 20px;
  font-weight: 400;
}

/* Client Section */
.client-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.client-section-heading{
  font-size: 50px;
  font-weight: 900;
  color: #B2B1AF;
  font-family: 'Fraunces', serif;
}

.client-testimonials{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.client{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.client img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.client p{
  font-size: 20px;
  font-weight: 400;
  color: grey;
  text-align: center;
}

.client-name{
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0 0 0;
  font-family: 'Fraunces', serif;
}

.client-occupation{
  color: #25544C;
  font-weight: bold;
  font-size: 15px;
}

/* Image grid section */
.image-grid-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #90D4C5;
}

/* Footer */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #90D4C5;
  height: 20vh;
}

.footer-list{
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.footer-item{
  list-style-type: none;
  padding: 10px 20px;
}

.footer-item a{
  text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #2C7365;
}

.footer-item a:hover{
  color: black;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
}

.image-mobile{
  display: none;
}


/* Mobile */
@media only screen and (max-width: 600px) {
  .nav-bar-desktop{
    display: none;
  }

  .main-grid-container {
    grid-template-columns: 100%;
  }

  .nav-bar-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-mobile button{
    background-color: #ffffff00;
    border: none;
  }

  #hamburger{
    background-color: white;
    width: 100%;
  }

  .hamburger-line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;
  }

  .hamburger-line:hover{
    background-color: #FEA500;
  }

  .hamburger-line a{
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
  }

  .nav-bar{
    height: 30vh;
    padding: 10px 0px;
  }

  .nav-bar-header{
    justify-content: space-around;
    width: 100%;
  }
  
  header{
    font-size: 6vw;
    transform: translate(0, 15%);
  }

  .item-header{
    grid-column-start: 1;
    grid-column-end: 2; 
  }

  .item6 div{
    width: 90%;
    transform: translate(0, -3vw);
  }
  
  .item7 div{
    width: 90%;
    transform: translate(0, -3vw);
  }

  .image-desktop{
    display: none;
  }

  .image-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .client-section{
    position: relative;
    height: 100%;
  }
  
  .client-section-heading{
    font-size: 40px;
  }

  .client-testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .client{
    width: 100%;
  }

  .client-occupation{
    margin: 10px 0 40px 0;
  }

  /* Image grid section */
  .image-grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #90D4C5;
  }

  footer{
    height: 40vh;
  }

  .social-media{
    width: 50%;
  }

}

